*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
ul, ol {
    list-style: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100vh;
    width: 100vw;
    background-image: url(https://img.freepik.com/fotos-premium/pizza-de-pepperoni-saboroso-em-um-fundo-concreto-preto_79782-103.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: cover;
}
.login{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 32px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-right: 15%;
}
.login span{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
}
.login input{
    height: 50px;
    width: 450px;
    padding-left: 12px;
    margin-top: 5px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 12px;
    color: white;
    font-size: 18px;
}
.login ::placeholder{
    color: white;
    font-size: 14px;
}
.title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.title h1{
    font-size: 52px;
}
.button{
    text-align: end;
    font-family: 'Roboto', sans-serif;
}
.login-button{
    margin-top: 40px;
    height: 45px;
    width: 120px;
    background-color: #d9d9d94a;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}


@media (max-width: 900px){
    body{
        justify-content: center;
    }
    .login{
        margin-right: 0;
        background-color: rgba(0, 0, 0, 0.516);
        border-radius: 12px;
    }
    .login span{
        font-size: 14px;
    }
    .login input{
        height: 50px;
        width: 210px;
        font-size: 16px;
    }
    .title h1{
        font-size: 32px;
    }
    .login-button{
        height: 40px;
        width: 90px;
        font-size: 16px;
    }
}